################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PlaneService/obj
/Backend/PlanesApi/obj
/Backend/Model/obj
/Backend/AirportService/obj
