################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PlaneService/obj
/Backend/PlanesApi/obj
/Backend/Model/obj
/Backend/AirportService/obj
/Backend/Mqtt/obj
/Backend/Mqtt/bin/Debug/netcoreapp3.1
/Backend/.vs/Planes
/Backend/AirportService/bin/Debug/netcoreapp3.1
/Backend/Model/bin/Debug/netcoreapp3.1
/Backend/PlanesApi/bin/Debug/netcoreapp3.1
/Backend/PlaneService/bin/Debug/netcoreapp3.1
/Backend/AirTrafficinfoApi/bin/Debug/netcoreapp3.1
/Backend/AirTrafficinfoApi/obj
/Backend/AirTrafficInfoContracts/obj
/Backend/MockPlane/bin/Debug/netcoreapp3.1
/Backend/MockPlane/obj
/Backend/AirTrafficInfoContracts/bin/Debug/netcoreapp3.1
/Backend/WorkerService1/obj/Debug/netcoreapp3.1
/Backend/WorkerService1/obj
/Backend/Plane/Plane/bin/Debug/netcoreapp3.1
/Backend/Plane/Plane/obj
/Backend/Plane/.vs/Plane/v16
/Backend/.vs
/Backend/AirTrafficInfoContracts/bin/Debug
/Backend/MockPlane/bin/Release/netcoreapp3.1
/Backend/Plane/.vs/Plane/DesignTimeBuild
/Backend/AirTrafficInfoContracts/bin/Release
/Backend/Plane/Plane/bin/Release/netcoreapp3.1
/Backend/AirTrafficinfoApi/bin/Release/netcoreapp3.1
/Backend/Model/bin/Release/netcoreapp3.1
/Backend/AirTrafficinfo/AirTrafficinfoApi/bin/Debug/netcoreapp3.1
/Backend/AirTrafficinfo/.vs/AirTrafficinfo
/Backend/AirTrafficinfo/AirTrafficinfoApi/obj
/Backend/docker-compose.yml
/Backend/docker-compose.override.yml
/Backend/Airport/Airport/bin/Debug/netcoreapp3.1
/Backend/Airport/.vs/Airport/v16
/Backend/Airport/Airport/obj
/Backend/Airport/.vs/Airport/DesignTimeBuild/.dtbcache.v2
/Backend/MockAirTrafficinfoApi/bin/Debug/netcoreapp3.1
/Backend/MockAirTrafficinfoApi/obj
/Backend/AirTrafficInfoServices/bin/Debug
/Backend/AirTrafficInfoServices/obj/Debug
/Backend/AirTrafficInfoServices/obj
/Backend/MqttServer/MqttServer/obj
/Backend/MqttServer/.vs/MqttServer/v16
/Backend/MqttCommon/bin/Debug
/Backend/MqttCommon/obj
/Backend/MqttServer/MqttServer/bin/Debug/netcoreapp3.1
/Backend/MqttServer/.vs/MqttServer/DesignTimeBuild
/Backend/MockAirTrafficinfoApi/bin/Release/netcoreapp3.1
/Backend/MockAirTrafficinfoApi/Properties/PublishProfiles
/Backend/MockAirTrafficinfoApi/Properties/ServiceDependencies
/Backend/MockAirTrafficinfoApi/MockAirTrafficinfoApi.csproj.user
/Backend/AirportService/bin/Release/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0
/Backend/AirportService/bin/Release/netcoreapp3.1
/Backend/AirTrafficInfoServices/bin/Release/netcoreapp3.1
/Backend/Mqtt/bin/Release/netcoreapp3.1
/Backend/MqttCommon/bin/Release/netcoreapp3.1
/Backend/PlaneService/bin/Release/netcoreapp3.1
/Backend/SharedKernel/Mqtt/Mqtt/bin/Debug/netcoreapp3.1
/Backend/SharedKernel/Mqtt/.vs/Mqtt/v16
/Backend/SharedKernel/Mqtt/Mqtt/obj/Debug/netcoreapp3.1
/Backend/SharedKernel/Mqtt/Mqtt/obj
/Backend/SharedKernel/AirTrafficInfoContracts/.vs/AirTrafficInfoContracts
/Backend/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/obj
/Backend/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/bin/Debug/netcoreapp3.1
/Backend/WeatherInfo/WeatherInfo/obj
/Backend/WeatherInfo/.vs/WeatherInfo/v16
/Backend/SharedKernel/Mqtt/.vs/Mqtt/DesignTimeBuild
/Backend/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/bin
/Backend/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/obj
/Backend/SharedKernel/Mqtt/Mqtt/bin/Debug
/Backend/AirTrafficInfo/MockAirTrafficinfoApi/bin/Debug/netcoreapp3.1
/Backend/AirTrafficInfo/MockAirTrafficinfoApi/obj/Debug/netcoreapp3.1
/Backend/AirTrafficInfo/MockAirTrafficinfoApi/obj
/Backend/Plane/.vs/Plane/config
/Backend/WeatherInfo/.vs/WeatherInfo/DesignTimeBuild
/Backend/AirTrafficInfo/AirTrafficInfoServices/obj
/Backend/AirTrafficInfo/AirTrafficInfoServices/bin/Debug/netcoreapp3.1
/Backend/AirTrafficInfo/SimulatedTraffic/bin/Debug/netcoreapp3.1
/Backend/AirTrafficInfo/SimulatedTraffic/obj
/Backend/SimulatedTraffic/SimulatedTraffic/bin/Debug/netcoreapp3.1
/Backend/SimulatedTraffic/SimulatedTraffic/obj
/Backend/SimulatedTraffic/.vs/SimulatedTraffic/v16
/Backend/SimulatedTraffic/.vs/SimulatedTraffic/DesignTimeBuild/.dtbcache.v2
/Frontend/node_modules/.bin
/Frontend/node_modules
/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/bin/Debug/netcoreapp3.1
/SharedKernel/AirTrafficInfoContracts/AirTrafficInfoContracts/obj
/SharedKernel/Mqtt/Mqtt/obj
/SharedKernel/Mqtt/Mqtt/bin/Debug
/SharedKernel/Mqtt/.vs/Mqtt/v16/.suo
/SharedKernel/Mqtt/.vs/Mqtt/v16
/SharedKernel/Mqtt/.vs/Mqtt/DesignTimeBuild/.dtbcache.v2
/SharedKernel/Mqtt/.vs/Mqtt/DesignTimeBuild
/SharedKernel/Mqtt/.vs/Mqtt
/SharedKernel/AirTrafficInfoContracts/.vs/AirTrafficInfoContracts/v16/.suo
/SharedKernel/AirTrafficInfoContracts/.vs/AirTrafficInfoContracts/v16
/SharedKernel/AirTrafficInfoContracts/.vs/AirTrafficInfoContracts/DesignTimeBuild/.dtbcache.v2
/Domain/Domain/obj
/Domain/.vs/Domain/v16
/HostedServices/AirportHostedService/.vs/AirportHostedService
/HostedServices/AirportHostedService/AirportHostedService/obj
/HostedServices/AirTrafficInfoApi/.vs/AirTrafficInfoApi/v16
/HostedServices/AirTrafficInfoApi/AirTrafficInfoApi/obj
/HostedServices/PlaneHostedService/.vs/PlaneHostedService
/HostedServices/PlaneHostedService/PlaneHostedService/obj
/HostedServices/SimulatedTrafficHostedService/.vs/SimulatedTrafficHostedService/DesignTimeBuild
/HostedServices/SimulatedTrafficHostedService/SimulatedTrafficHostedService/bin/Debug/netcoreapp3.1
/HostedServices/SimulatedTrafficHostedService/.vs/SimulatedTrafficHostedService/v16
/HostedServices/SimulatedTrafficHostedService/SimulatedTrafficHostedService/obj
/HostedServices/WeatherInfoHostedServiceMqtt/WeatherInfoHostedServiceMqtt/obj
/HostedServices/WeatherInfoHostedServiceMqtt/.vs/WeatherInfoHostedServiceMqtt/v16
/Backend/WeatherInfo/.vs/WeatherInfo/config
/Domain/.vs/Domain/DesignTimeBuild
/Domain/Domain/obj
/HostedServices/WeatherInfoHostedServiceMqtt/.vs/WeatherInfoHostedServiceMqtt/DesignTimeBuild/.dtbcache.v2
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.AssemblyInfoInputs.cache
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.assets.cache
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.CoreCompileInputs.cache
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.csproj.FileListAbsolute.txt
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.csprojAssemblyReference.cache
/Domain/Domain/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Domain/Domain/obj/Debug/netcoreapp3.1/Domain.AssemblyInfo.cs
/HostedServices/PlaneHostedService/PlaneHostedService/bin/Debug/netcoreapp3.1
/HostedServices/AirportHostedService/AirportHostedService/bin/Debug/netcoreapp3.1
/Domain/bin/Debug/netcoreapp3.1
/Domain/obj
/HostedServices/AirportService/bin/Debug/netcoreapp3.1
/HostedServices/AirportService/obj
/HostedServices/PlaneService/bin/Debug/netcoreapp3.1
/HostedServices/PlaneService/obj
/HostedServices/TrafficInfoHttpApi/bin/Debug/netcoreapp3.1
/HostedServices/TrafficInfoHttpApi/obj
/HostedServices/TrafficSimulatorService/bin/Debug/netcoreapp3.1
/HostedServices/TrafficSimulatorService/obj
/HostedServices/WeatherInfoMqttApi/bin/Debug/netcoreapp3.1
/HostedServices/WeatherInfoMqttApi/obj
/SharedKernel/Contracts/bin/Debug/netcoreapp3.1
/SharedKernel/Contracts/obj
/SharedKernel/HttpUtils/bin/Debug/netcoreapp3.1
/SharedKernel/HttpUtils/obj
/SharedKernel/MqttUtils/obj
/SharedKernel/MqttUtils/bin/Debug/netcoreapp3.1
/.vs
/SharedKernel/Utils/obj
/SharedKernel/Utils/bin/Debug/netcoreapp3.1
/HostedServices/TrafficInfoApi/obj
/HostedServices/TrafficInfoApi/bin/Debug/netcoreapp3.1
/Wiki/.vs/Wiki/v17
/Wiki/.vs/VSWorkspaceState.json
/Wiki/.vs/slnx.sqlite
/DlesPrototypes/obj/Debug/netcoreapp3.1
/DlesPrototypes/obj
