################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MetalPrices.Model/obj/project.assets.json
/MetalPrices.Model/obj/MetalPrices.Model.csproj.nuget.g.targets
/MetalPrices.Model/obj/MetalPrices.Model.csproj.nuget.g.props
/MetalPrices.Model/obj/MetalPrices.Model.csproj.nuget.dgspec.json
/MetalPrices.Model/obj/MetalPrices.Model.csproj.nuget.cache
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.pdb
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.dll
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.csprojAssemblyReference.cache
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.csproj.FileListAbsolute.txt
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.csproj.CoreCompileInputs.cache
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.assets.cache
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.AssemblyInfoInputs.cache
/MetalPrices.Model/obj/Debug/netstandard2.0/MetalPrices.Model.AssemblyInfo.cs
/MetalPrices.Model/obj/Debug/netstandard2.0
/MetalPrices.Model/obj
/MetalPrices.Model/bin/Debug/netstandard2.0/MetalPrices.Model.pdb
/MetalPrices.Model/bin/Debug/netstandard2.0/MetalPrices.Model.dll
/MetalPrices.Model/bin/Debug/netstandard2.0/MetalPrices.Model.deps.json
/MetalPrices.Model/bin/Debug/netstandard2.0
/MetalPrices.Model/.vs/MetalPrices.Model/v16/Server/sqlite3/storage.ide
/MetalPrices.Model/.vs/MetalPrices.Model/v16/Server/sqlite3/db.lock
/MetalPrices.Model/.vs/MetalPrices.Model/v16/Server/sqlite3
/MetalPrices.Model/.vs/MetalPrices.Model/v16/.suo
/MetalPrices.Model/.vs/MetalPrices.Model/v16
/MetalPrices.Model/.vs/MetalPrices.Model/DesignTimeBuild/.dtbcache
/MetalPrices.Model/.vs/MetalPrices.Model/DesignTimeBuild
/MetalPrices.Model/.vs/MetalPrices.Model
/MetalPrices.Model
/.vs/VSWorkspaceState.json
/.vs/Utils/v16/.suo
/.vs/Utils/v16
/.vs/Utils/v15/Server/sqlite3/storage.ide-wal
/.vs/Utils/v15/Server/sqlite3/storage.ide-shm
/.vs/Utils/v15/Server/sqlite3/storage.ide
/.vs/Utils/v15/Server/sqlite3/db.lock
/.vs/Utils/v15/Server/sqlite3
/.vs/Utils/v15/.suo
/.vs/Utils/v15
/.vs/Utils/DesignTimeBuild/.dtbcache
/.vs/Utils/DesignTimeBuild
/.vs/slnx.sqlite
